---
---

@import "{{ site.theme }}";

pre .str, code .str { color:#267CB9; }

section {
  width:65%;
  float:right;
  padding-bottom:50px;
}


@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
   section {
     width:100%;
     float:right;
     padding-bottom:50px;
   }
}


@media (min-width: 481px) and (max-width: 767px) {
   section {
     width:100%;
     float:right;
     padding-bottom:50px;
   }
  
}

@media (min-width: 768px) and (max-width: 1024px) {
   header {
     padding:0;
   }

   header ul, header p.view {
     position:static;
   }
   section {
     width:100%;
     float:right;
     padding-bottom:50px;
   }
  
}

/* Style the links inside the navigation bar */

.topnav {
  overflow: visible;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
