---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
  height: 100%;
  width: 100%;
}

section {
  width:550px;
  float:right;
  padding-bottom:50px;
}

/* Style the links inside the navigation bar */

.topnav {
  overflow: visible;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*.circle {
    border-radius: 25%;
    -moz-border-radius: 25%;
    -webkit-border-radius: 25%;
    -o-border-radius: 25%;
}*/
