---
---

@import "{{ site.theme }}";

section {
  width:550px;
  float:right;
  padding-bottom:50px;
}

@media print, screen and (max-width: 480px) {
  section {
    width:500px;
    float:right;
    padding-bottom:50px;
  }
  body {
    padding:15px;
  }

  .downloads {
    width:99%;
  }

  .downloads li, .downloads li + li + li {
    width:33%;
  }
}

/* Style the links inside the navigation bar */

.topnav {
  overflow: visible;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
